<h1>List of Actors</h1>



<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>DOB</th>
    <th></th>

  </tr>

<% Actor.all.each do |a_actor| %>
  
  <tr>
    <td><%= a_actor.id %></td>
        <td>
          <img src="<%= a_actor.image %>" alt="actor image" width="100">
        </td>
    <td><%= a_actor.name %></td>
        <td><%= a_actor.dob %></td>

    <td> <a href="/actors/<%= a_actor.id %>">Show Details</a> </td>



  </tr>



<% end %>

</table>
